<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">The Modern Blog to Rule All</h1>
    <p class="lead blog-description">Once Upon a Time</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:admin) %>
    </span>
  </div>
</div>